<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<div layout:fragment="content">

<main>
<div>
    <h5>MYINFO PAGE</h5>
</div>
<hr style="color: white;" id="line">
    <form action="/myinfo/data" id="infoData">
        <div>
            <div class="row">
                <div class="col-md-1">이름</div>
                <div class="col-md-1" type="text" name="name" id="div_name"></div>
            </div>
            <div class="row">
                <div class="col-md-1">나이</div>
                <div class="col-md-1" name="age" id="div_age"></div>
            </div>
            <div class="row">
                <div class="col-md-1">연락처</div>
                <div class="col-md-1" name="tel" id="div_tel"></div>
            </div>
            <div class="row">
                <div class="col-md-1">E-Mail</div>
                <div class="col-md-1" name="email" id="div_email"></div>
            </div>
            <div class="row">
                <div class="col-md-1">최근 수정일</div>
                <div class="col-md-4" name="modifyDt" id="div_modifyDt"></div>
            </div>
            <div></div>
        </div>
    </form>
    <button type="button" id="button_home">HOME</button>
    <button type="button" id="button_update">UPDATE</button>

</main>
<div th:replace="/myinfo/modals/myInfoModal"></div>
<script src="/js/myinfo/myInfo.js"></script>
</div>

</html>